body {
    background-image: url("http://cdn.awwni.me/p1um.jpg");
    font-family: Lucida Console;
}
#table1 {
    margin-left: auto;
    margin-right: auto;
    margin-top:25%;
    background-color:white;
    table-layout:fixed;
    border: 1px solid blue;
}
#The {
    width:45px;
    height:50px;
    text-align:left;
}
td {
    text-align:center;
}
#CityName{
    width:80px;
    height:50px;
}
#Adjective{
    width:80px;
    height:50px;
}
#Noun{
    width:85px;
    height:50px;
}
#Activation {
    position: relative;
    left: 44%;
}
#back {
    position: fixed;
    height: 40px;
    top:20px;
    left: 20px;
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}